* {
  box-sizing: border-box;
  overflow: hidden;
}

@font-face {
  font-family: "Swiss-911";
  src: url("https://amarine-py.github.io/trivia-clone-1/fonts/swiss-911.otf");
}

@font-face {
  font-family: "ITC Korinna";
  src: url("https://amarine-py.github.io/trivia-clone-1/fonts/Korinna-Regular.otf");
}

@font-face {
  font-family: "American Signature";
  src: url("https://amarine-py.github.io/trivia-clone-1/fonts/AmericanSignature.ttf");
}

@font-face {
  font-family: "Autography";
  src: url("https://amarine-py.github.io/trivia-clone-1/fonts/Autography.otf");
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-start {
  width: 100vw;
  height: 100vh;
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  height: 50px;
  background-color: #060ce9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

header a {
  text-decoration: none;
  color:#eee;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 3px 3px black;
}

h1 {
  font-family: "Swiss-911";
  color: #ffcc00;
  font-size: min(8vw, 2em);
  text-align: center;
  text-shadow: 3px 3px black;
  letter-spacing: 0.15rem;
}

nav {
  width: 50%;
  max-width: 400px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  margin-right: 25px;
  width: 400px;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color:#ffcc00;
  cursor: pointer;
}

label {
  padding-bottom: 15px;
}

#home-wrapper {
  background-color: black;
  height: 100%;
  width: 100%;
}

#home {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 10%;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

#start-new-game, #join-game {
  width: 20%;
  height: 30%;
  border: 3px solid white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: #060ce9;
  font-size: 2em;
  text-shadow: 5px 5px black;  
  letter-spacing: 0.125rem;
  margin: 50px;
}

.start-value-text {
  text-decoration: none;

}

.register-wrapper {
  height: 70%;
  width: 60%;
  border: 5px solid white;
  border-radius: 10px;
  background-color: #060ce9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  padding: 200px;
  padding-top: 100px;
}

.register-title {
  height: 25vh;
  width: 50vw;
  padding-top: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Swiss-911";
  text-shadow: 4px 4px black;  
  font-size: 2rem;
  color:#ffcc00;
  text-transform: uppercase;
}

.register-form {
  position:relative;
  width: 50vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -75px;
  padding: 20px;
  font-family: "ITC Korinna";
  text-shadow: 3px 3px black;
}

.register1, .register2, .register3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-input {
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border: 4px solid black;
  border-radius: 10px;
}

.register-button button {
  height: 60px;
  width: 250px;
  font-size: 1.3rem;
}

button {
  font-family: "Swiss-911";
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
}

button:hover {
  color: white;
  text-transform: uppercase;
  background-color: black;
  border-color: white;
  cursor: pointer;
}

.register-button {
  padding: 25px;
  height: 100px;
}

.loading-wrapper {
  margin: 100px auto;
}

.clue-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px auto;
}

.board-layout div:hover {
  cursor: pointer;
  background-color: #0d13af;
}

.value-text, .clue-box-value, .start-value-text {
  font-family: "Swiss-911";
  color: #ffcc00;
  font-size: 2.5rem;
  text-shadow: 5px 5px black;  
}

.clue-box-category {
  font-family: "Swiss-911";
  font-size: 2.1rem;
  color: white;
  text-transform: uppercase;
  text-shadow: 4px 4px black;
  margin: 0 auto;
  padding: 5px;
}

.clue-box, .value-box {
  width: 11vw;
  height: 16vh;
  background-color: #060ce9;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

.board-layout, .value-row {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  grid-template-columns: 11vw 11vw 11vw 11vw 11vw;
  gap: 0;
}

.clue-view-wrapper {
  background-color: #060ce9;
  height: 80%;
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 5px solid white;
  border-radius: 10px;
  margin: 75px 20px auto 60px;
  padding: 25px;
}

.clue-view-title {
  color: white;
  margin: 25px;
}

.clue-view-text {
  font-family: "ITC Korinna";
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 3px 3px black;
  font-weight: bold;
}

.clue-view-timer {
  height: 25%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -50px;
}

.clue-view-footer {
  display: flex;
  justify-content: space-between;
  height: 15%;
  width: 300px;
  padding: 20px;
}

.clue-view-footer button {
  height: 40px;
  width: 100px;
  font-size: 1.3rem;

}

.count-down-timer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.timer-text {
  color: white;
  font-size: 3rem;
}

.label {
  font-size: 2.5rem;
  border-bottom: 3px solid white;
}

.game-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 60px;
}

.game-board-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95vw;
  margin: 60px;
  margin-top: 0px;
  padding: 0px;
}

.game-scores {
  width: 85%;
  height: 75%;
}

.score-text {
  font-family: "Swiss-911";
  color: white;
  font-size: 1.75rem;
  text-shadow: 4px 4px black;
  margin: 10px auto;
}

.negative {
  color: red;
}

.game-status-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:30vw;
  height: 100%;
  margin: 250px 30px 100px 45px;
  padding: 0;
}

.game-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 0;
  margin: auto;
  max-width: 400px;
}

.player-name-text {
  font-size: 2.5rem;
  color: white;
  font-family: "Autography";
  width: 100%;
}

.round-status {
  margin: 0;
  padding: 0;
}

.round-status-text {
  font-family: "Swiss-911";
  color: #ffcc00;
  font-size: 1.75rem;
  text-shadow: 5px 5px black;
  margin: 10px auto;
}

.player-score {
  height: 40%;
  width: 85%;
  margin: 10px auto;
  margin-bottom: 0px;
}

.score-outer {
  border: 5px solid silver;
  height: 22vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.score-inner {
  width: 80%;
  height: 100%;
}

.score-side-left, .score-side-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: 2px solid rgb(132, 25, 25);
  height: 100%;
  width: 25%;
  background-color: brown;
}

.vertical-stripe {
  height: 85%;
  width: 5%;
  border: 2px solid rgb(101, 223, 245);
  border-radius: 5px;
}

.score-side-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.score-side-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.score-display {
  border: 3px solid black;
  height: 30%;
  width: 100%;
  background-color:#060ce9;
}

.name-display {
  border: 3px solid black;
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#060ce9;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  margin: 0;
}

.modal-wrapper > .count-down-timer {
  height: 15%;
  width: 20%;
}

.modal-answer-text {
  height: 30%;
  width: 60%;
  font-family: "ITC Korinna";
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 3px 3px black;
  font-weight: bold;
}

.modal-button-wrapper {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  margin-top: -75px;
}

.modal-button-wrapper button {
  height: 55px;
  width: 150px;
  font-size: 1.3rem;
}

.action-buttons, .answer-buttons {
  display: flex;
  width: 85%;
  height: 35%;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
}

.answer-buttons {
  height: 55%;
}

.answer-buttons button {
  margin: 10px;
}

.daily-double-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.daily-double-header {
  height: 25%;
  width: 75%;
}

.daily-double-wager-buttons {
  height: 15%;
}


.daily-double-header {
  height: 10%;
}

.daily-double-header {
  font-family: "Swiss-911";
  color: #ffcc00;
  font-size: 3.5rem;
  text-shadow: 5px 5px black;
  letter-spacing: .15rem;
}

.daily-double-wager {
  font-family: "ITC Korinna";
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-shadow: 3px 3px black;
  font-weight: bold;
  width: 100%;
  height: 55%;
}

.daily-double-wager input {
  width: 25%;
  height: 10%;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.daily-double-wager-buttons button {
  height: 50px;
  width: 100px;
  font-size: 1.3rem;
  margin: 10px;
}

.daily-double-answer-mode {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-family: "ITC Korinna";
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-shadow: 3px 3px black;
  font-weight: bold;
}

.bad-wager {
  color: red;
}

.daily-double-answer-mode p {
  margin-top: 0px;
  margin-bottom: 25px;
}

.daily-double-answer-mode-wager-text {
  height: 10%;
}

.daily-double-answer-mode-answer-text {
  height: 10%;
  margin-bottom: 15px;
}

.daily-double-answer-mode-clue-text {
  height: 30%;
  width: 100%;
}

.daily-double-answer-mode .count-down-timer {
  height: 20%;
}

.daily-double-answer-buttons {
  height: 35%;
  width: 50%;
}

.daily-double-answer-buttons button {
  height: 50px;
  width: 150px;
  font-size: 1.3rem;
  margin: 10px;
}

.final-jeopardy-wrapper {
  background-color: #060ce9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  border: 3px solid white;
  height: 87%;
  width: 50%;
}

.final-jeopardy-text, .final-jeopardy-category-text, .final-jeopardy-name,
.final-jeopardy-question-text, .final-jeopardy-question-category-text, .final-jeopardy-answer-text,
.final-jeopardy-question-text2, .bad-final-wager {
  font-family: "ITC Korinna";
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 3px 3px black;
  font-weight: bold;
}

.final-jeopardy-text {
  font-size: 1.5rem;
}

.final-jeopardy-question-text2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.final-jeopardy-answer-text {
  color: #ffcc00;
  font-family: "Swiss-911";
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.final-jeopardy-span {
  font-family: "Swiss-911";
  color: #ffcc00;
  font-size: 2rem;
  text-shadow: 4px 4px black;
  letter-spacing: 0.2rem;
}

.final-jeopardy-wager-wrapper {
  height: 100%;
  width: 90%;
}

.final-jeopardy-wager-body {
  height:90%;
}

.final-jeopardy-wager-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.player1-wager, .player2-wager, .player3-wager {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 50%;
}
.final-jeopardy-name {
 margin-right: 20px;
}

.final-jeopardy-wager-input {
  width: 25%;
  height: 75%;
  border: 3px solid black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  align-items: start;
  margin-bottom: 8px;
}

.final-jeopardy-wager-button {
  height: 15%;
  margin-top: 10px;
}

.wager-button {
  height: 50px;
  width: 300px;
  font-size: 1.3rem;
}

.bad-final-wager {
  color: red;
  font-size: 1.2rem;
}
.final-jeopardy-question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 3px solid white;
  height: 100%;
  width: 100%;
}

.final-jeopardy-question-wrapper > .count-down-timer {
  height: 15%;
}

.final-jeopardy-question-text {
  height: 35%;
}

.final-jeopardy-question-category-text {
  margin-bottom: 50px;
}

.final-jeopardy-answer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 25px;
  margin: 0;
  border: 3px solid white;
  height: 100%;
  width: 100%;
}

.final-jeopardy-answer-buttons {
  height: 85%;
  width: 100%;
}

.final-jeopardy-answer-wrapper button {
  height: 50px;
  width: 125px;
  margin: 0 10px;
  font-size: 1.3rem;
}

.final-submit-button {
  height: 25%;
  margin-top: 50px;
}

.final-submit-button button {
  width: 175px;
}

.declare-winner-wrapper {
  background-color:black;
  height: 75%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.winner-text {
  font-family: "ITC Korinna";
  color:#ffcc00;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 3px 3px black;
  font-weight: bold;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.debug-tools {
  border: 3px solid white;
  border-radius: 10px;
  height: 90%;
  margin-bottom: 120px;
  margin-top: 65px;
  margin-left: 20px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.debug-tools button {
  width: 100px;
  height: 50px;
  margin: 15px auto;
}

.error-message-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80%;
  width: 60%;
  border: 3px solid red;
  margin-top: 75px;
}