* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Swiss-911";
  src: url("http://localhost:3000/fonts/swiss-911.otf");
}

@font-face {
  font-family: "ITC Korinna";
  src: url("http://localhost:3000/fonts/Korinna-Regular.otf");
}

@font-face {
  font-family: "American Signature";
  src: url("http://localhost:3000/fonts/AmericanSignature.ttf");
}

@font-face {
  font-family: "Autography";
  src: url("http://localhost:3000/fonts/Autography.otf");
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-start {
  width: 100vw;
  height: 100vh;
  border: 3px solid white;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  height: 50px;
  background-color: #060ce9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

a {
  text-decoration: none;
  color:#eee;
}

h1 {
  font-family: "Swiss-911";
  color: #ffcc00;
  font-size: min(8vw, 2em);
  text-align: center;
  text-shadow: 3px 3px black;
  letter-spacing: 0.15rem;
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  text-decoration: none;
}

nav > ul > li > a:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

label {
  padding-bottom: 15px;
}

#home-wrapper {
  background-color: black;
  height: 100vh;
}

#home {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
  max-width: 50vw;
  width: 100%;
  height: 100vh;
  background-color: black;
}

#start-new-game, #join-game {
  width: 500px;
  height: 500px;
  border: 3px solid white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: #060ce9;
  font-size: 2em;
  text-shadow: 5px 5px black;  
  letter-spacing: 0.125rem;
  margin: 50px;
}

.register-wrapper {
  height: 75%;
  width: 75%;
  border: 5px solid white;
  border-radius: 10px;
  background-color: #060ce9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  padding: 200px;
}

.register-title {
  height: 25vh;
  width: 50vw;
  text-align: center;
  font-family: "Swiss-911";
  text-shadow: 4px 4px black;  
  font-size: 2rem;
  color:#ffcc00;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: -70px;
}

.register-form {
  position:relative;
  width: 50vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-family: "ITC Korinna";
  text-shadow: 3px 3px black;
}

.register1, .register2, .register3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.register-button {
  font-family: "Swiss-911";
  color: black;
  border: 3px solid black;
  margin: 50px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.register-button:hover {
  color: white;
  text-transform: uppercase;
  background-color: black;
  border-color: white;
  cursor: pointer;
}

.loading-wrapper {
  margin: 100px auto;
}

.value-text, .clue-box-value {
  font-family: "Swiss-911";
  color: #ffcc00;
  font-size: 2.5rem;
  text-shadow: 5px 5px black;  
}

.clue-box-category {
  font-family: "Swiss-911";
  font-size: 1.8vw;
  color: white;
  text-transform: uppercase;
  text-shadow: 4px 4px black;
}

.clue-box, .value-box {
  width: 12vw;
  height: 16vh;
  background-color: #060ce9;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.board-layout, .value-row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 0;
}

.clue-view-wrapper {
  background-color: #060ce9;
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid white;
  margin: 15px 20px auto 60px;
}

.clue-view-title {
  color: white;
}

.clue-view-text {
  font-family: "ITC Korinna";
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 3px 3px black;
  font-weight: bold;
}

.clue-view-timer {
  height: 25%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.count-down-timer {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.timer-text {
  color: white;
  font-size: 3rem;
}

.label {
  font-size: 2.5rem;
  border-bottom: 3px solid white;
}

.game-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: space-between;
  height: 100%;
  width: 100%;
  margin-top: 115px;
}

.game-board-wrapper {
  height: 100vh;
}

.game-scores {
  width: 85%;
  height: 75%;
}

.score-text {
  font-family: "Swiss-911";
  color: white;
  font-size: 1.75rem;
  text-shadow: 4px 4px black;
  margin: 10px auto;
}

.negative {
  color: red;
}

.game-status-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid white;
  width: 25vw;
  height: 80vh;
  margin: 0px 100px 0px 45px;
  padding: 0;
}

.game-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 0;
  margin: auto;
}

.player-name-text {
  font-size: 2.5rem;
  color: white;
  font-family: "Autography";
}

.round-status {
  margin: 0;
  padding: 0;
}

.round-status-text {
  font-family: "Swiss-911";
  color: #ffcc00;
  font-size: 1.75rem;
  text-shadow: 5px 5px black;
  margin: 10px auto;
}

.player-score {
  height: 20vh;
  width: 85%;
  margin: 10px auto;

}

.score-outer {
  border: 5px solid silver;
  height: 21vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.score-inner {
  width: 80%;
  height: 100%;
}

.score-side-left, .score-side-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: 2px solid rgb(132, 25, 25);
  height: 100%;
  width: 25%;
  background-color: brown;
}

.vertical-stripe {
  height: 85%;
  width: 5%;
  border: 2px solid rgb(101, 223, 245);
  border-radius: 5px;
}

.score-side-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.score-side-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.score-display {
  border: 3px solid black;
  height: 30%;
  width: 100%;
  background-color:#060ce9;
}

.name-display {
  border: 3px solid black;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#060ce9;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  margin: 0;
}

.modal-wrapper > .count-down-timer {
  height: 25%;
  width: 20%;
}

.modal-answer-text {
  height: 35%;
  width: 60%;
  font-family: "ITC Korinna";
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 3px 3px black;
  font-weight: bold;
}

.modal-button-wrapper {
  height: 30%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  margin-top: -75px;
}

.daily-double-wrapper {
  height: 35vh;
  width: 35vw;
  border: 3px solid white;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

